replicaCount: 1

image:
  repository: m949939/go-web-app
  pullPolicy: IfNotPresent
  tag: "21121252347"

ingress:
  enabled: false
  className: ""
  annotations: {}
  hosts:
    - host: chart-example.local
      paths:
        - path: /
          pathType: ImplementationSpecific